services:
  dcs-postgres:
    image: postgres:15.3-alpine
    container_name: iac-container
    environment:
      POSTGRES_PASSWORD: umc
      POSTGRES_USER: root
    ports:
      - 5432:5432
    volumes:
      - ./test/postgres:/var/lib/postgresql/data